<div id="Main" class="row text-center" >
	<div id="SiteTitle" >
		<p style="display: inline-block; color: white; cursor: pointer; font-size: 16px;">
			<span ng-click="ChangeLoginOptions(1)" ><i class="fa fa-pencil-square-o"></i> &nbsp;Cadastro</span> &nbsp;&nbsp;
			<span ng-click="ChangeLoginOptions(2)" ><i class="fa fa-key" ></i> &nbsp;Login</span> &nbsp;&nbsp;
			<span ng-click="FacebookLogin()"  ><i class="fa fa-facebook-official" ></i> &nbsp;Entre pelo Facebook</span>
		</p><br>
		<h1 class="text-center" style="padding: 30px 60px; font-weight: 900; display: inline-block; background: white;" >JEITINHO BRASILEIRO</h1>
	</div>

	<div id="Content"></div>
    	<span style="cursor: pointer; color: white; position: absolute; bottom: 30px; right: 50px; font-size: 24px;" >AVANÇAR <i style="font-size: 42px; position: relative; top: 7px; left: 8px;" class="fa fa-caret-right" ></i></span>
	</div>
</div>

<script type="text/ng-template" id="LoginDialog">
	<i class="fa fa-times" style="color: white; position: absolute; top: 22px; right: 20px; font-size: 20px; cursor: pointer; z-index: 2;" ng-click="Fechar()" ></i>
    <div class="ngdialog-message col-sm-12 col-md-12 col-lg-12" >
    	<div class="row text-center LoginOptions" ng-if="LoginSelectedOption==1" >
    		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="padding-bottom: 25px; border-right: 1px solid;" >
    			<h3 class="text-center" >CADASTRE-SE</h3><br>
        		<div class="input-group" style="width: 100%;" >
					<input style="width: 100%; max-width: 100%;" type="text" class="form-control" placeholder="Nome Completo" ng-model="NomeCompleto" >
				</div><br>
				<div class="input-group" style="width: 100%;" >
					<input style="width: 100%; max-width: 100%;" type="text" class="form-control" placeholder="Data de Nascimento" ng-model="DataNascimento" >
				</div><br>
				<div class="input-group" style="width: 100%;" >	
					<input style="width: 100%; max-width: 100%;" type="text" class="form-control" placeholder="E-mail" ng-model="Email" >
				</div><br>
				<div class="input-group" style="width: 100%;" >
					<input style="width: 48%; max-width: 50%; float: left;" type="password" class="form-control" placeholder="Senha" ng-model="Senha" >

					<input style="width: 48%; max-width: 50%; float: right;" type="password" class="form-control" placeholder="Confirmar Senha" ng-model="ConfirmarSenha" >
				</div><br>
				<button style="color: rgb(92, 107, 128); background: rgb(234, 237, 242); border-radius: 50%; width: 50px; height: 50px; margin-bottom: 10px;" class="btn btn-default" ng-click="CadastroManual(Email, Senha, NomeCompleto, DataNascimento)" >OK</button>
        	</div>
    	</div>

    	<div class="row text-center LoginOptions" ng-if="LoginSelectedOption==2" >
        	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
    			<h3 class="text-center" >FAÇA LOGIN</h3><br>
        		<div class="input-group" style="width: 100%;" >
					<input style="width: 100%; max-width: 100%;" type="text" class="form-control" placeholder="E-mail" ng-model="LoginEmail" >
				</div><br>
				<div class="input-group" style="width: 100%;" >
					<input style="width: 100%; max-width: 100%;" type="password" class="form-control" placeholder="Senha" ng-model="LoginSenha" >
				</div><br>
				<button style="color: rgb(92, 107, 128); background: rgb(234, 237, 242); border-radius: 50%; width: 50px; height: 50px; margin-bottom: 20px;" class="btn btn-default" ng-click="LoginManual(LoginEmail, LoginSenha)" >OK</button>
        	</div>
        </div>
    </div>
</script>

<style type="text/css">

.header {
	    position: fixed;
    width: 100%;
}

body {
	height: 100%;
}

.container {
	height: 100%;
    text-align: center;
}

#SiteTitle{
    position: fixed; width: 100%; left: 0; top: 25px;
}

#Content span:hover { color: #B8DE6A!important; }

#Main {
	height: 100%;
}

div#LoginDiv div h3 { 
	cursor: pointer;
}

#LoginDiv h3 {
    padding: 18px 0px;
    background: white;
    color: #7CA40A;
    font-size: 20px;
}

.LoginOptions h3{
	color: white;
}

.ngdialog-content{ 
	z-index: 1;
    position: absolute;
    width: 40%;
    left: 30%;
    top: 20%;
    background: #B8DE6A;
}	    
.ngdialog-close {
	display: none!important;
}
</style>