<div class="row" ng-repeat="fase in fases" ng-if="!fase.id">

	<div class="row centered-form center-block">
	   <div class="container col-md-12">
		    <img ng-if="checa(fase.Tipo)" style="text-align:center;height:489px;margin-top:100px" src="images/withoutarrow_1024.png"/>
		    <img ng-if="!checa(fase.Tipo)" style="text-align:center;height:489px;margin-top:100px" src="images/withoutarrow_1025.png">
		</div>
	</div>

	<div class="row" ng-if="!checa(fase.Tipo)" style="margin-top:100px; background-color: #FFFFFF">
			
		<div class="col-md-12" style="background-color: #FFFFFF; padding: 15px;"><p>{{ fase.Descricao }}</p></div>
			
	</div>

	<div class="row" ng-if="checa(fase.Tipo)" style="margin-top:100px; background-color: #FFFFFF">
			
		<div class="col-md-12" style="background-color: #FFFFFF; padding: 15px;"><p>{{ fase.Descricao }}</p></div>
			
	</div>

	<div class="row" style="margin-top:100px"><button class="playBtn" ng-click="action(fase.Nome.slice(-1))">PLAYAR</button></div>
</div>
