<div ng-controller="AcontecimentosController" class="row">
	<div class="col-md-8" style="border:1px solid;">
		<i ng-if="FazendoRequest" class="fa fa-spinner fa-spin" ></i>
		<div class="row" ng-if="!FazendoRequest" >
			<p>{{Acontecimento.Descricao}}</p>
			<br>
			<p>{{Acontecimento.Situacao}}</p>
			<br>
			<select ng-model="Resposta" ng-options="resposta as resposta.Texto for resposta in Acontecimento.Respostas" ng-change="RealizaAcao(Resposta)" ></select>
		</div>
	</div>
	<div class="col-md-4" style="border:1px solid;">
		<h3>Estatísticas</h3>
		{{Estatisticas}}
	</div>
</div>